<!DOCTYPE HTML>
<html>
<head>
    <title>Timing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

        <header>
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mt-1">
                    <div class="p-1 logo"><a href="/"><h1>TIMING</h1></a></div>
                    <div class="p-1 my_info"><a href="/login_page"><h3>MY</h3></a></div>

                </div>
                <div class="d-flex justify-content-center">
                    <!--ajax 처리 필요-->
                    <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                </div>

            </div>
            
            <!-- navbar -->
            <div class="d-flex flex-row justify-content-around col-12 menu">
                <div id="menu-home" class="col-3 menu-li">홈</div>
                <div id="menu-stock" class="col-3 menu-li">증시</div>
                <div id="menu-coin" class="col-3 menu-li">암호화폐</div>
                <div id="menu-posts" class="col-3 menu-li">토론</div>
            </div>


        </header>