
{{>layout/header}}

<div class="canvas-chart">
    <div>Triple Screen</div>
    {{notifyDetail10.0.analysisDate}}
    <canvas id="analysisChart10-1"></canvas>
    <canvas id="analysisChart10-2"></canvas>
    <canvas id="analysisChart10-3"></canvas>
</div>

<div>

    <table class="table table-horizontal table-bordered" id="analysis10-table">
        {{#notifyDetail10}}
            <tr>
                <td>{{marketCd}}</td>
                <td>{{stockCd}}</td>
                <td>{{stockDate}}</td>
                <td>{{close}}</td>
                <td>{{ema130}}</td>
                <td>{{ema60}}</td>
                <td>{{macd}}</td>
                <td>{{macdSignal}}</td>
                <td>{{macdHist}}</td>
                <td>{{fastK}}</td>
                <td>{{slowD}}</td>

            </tr>
        {{/notifyDetail10}}
    </table>
</div>

{{>layout/footer}}